{% extends 'base.html.twig' %}

{% block title %}Accuiel | Elan Formation!{% endblock %}

{% block fsnav %} {% endblock %}
{% block body %}
<div class="output_container">

    {# la session qui est en cours #}
    <section class="encour">
        <table class="table">
            <h3>Session en cour</h3>
            <thead>
                <tr>
                    <th>Institulé Session</th>
                    <th>Formateur</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>Nb place théorique</th>
                    <th>Nb place Reservé</th>
                    <th>Nb place Restantes</th>
                    <th>Détails Programme</th>
                </tr>
            </thead>
            <tbody>
                {% for sessionEnCour in sessionEnCours %}
                    <tr>
                        <td>{{sessionEnCour.themesession}}</td>
                        <td>{{sessionEnCour.formateur.nom}}  {{sessionEnCour.formateur.prenom}}</td>
                        <td>{{sessionEnCour.datecommerce|date('d/m/Y')}}</td>
                        <td>{{sessionEnCour.datefin|date('d/m/Y')}}</td>
                        <td>{{sessionEnCour.placetotal}}</td>
                        <td>{{sessionEnCour.PlaceReserve}}</td>
                        
                        {% if sessionEnCour.PlaceRestant != 0 %}
                        <td>{{sessionEnCour.PlaceRestant}}</td>
                        {% else %}
                        <td>{{sessionEnCour.Plein|raw}}</td>
                        {% endif %}

                        <td><a href="{{path('show_instituleSession', {'id': sessionEnCour.id})}}"><i class="fa-solid fa-list"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    {# la session qui arrive #}
    <section class="venir">
        <table class="table">
            <h3>Session vas Venir</h3>
            <thead>
                <tr>
                    <th>Institulé Session</th>
                    <th>Formateur</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>Nb place théorique</th>
                    <th>Nb place Reservé</th>
                    <th>Nb place Restantes</th>
                    <th>Détails Programme</th>
                </tr>
            </thead>
            <tbody>
                {% for sessionToCome in sessionToComes %}
                    <tr>
                        <td>{{sessionToCome.themesession}}</td>
                        <td>{{sessionToCome.formateur.nom}}  {{sessionToCome.formateur.prenom}}</td>
                        <td>{{sessionToCome.datecommerce|date('d/m/Y')}}</td>
                        <td>{{sessionToCome.datefin|date('d/m/Y')}}</td>
                        <td>{{sessionToCome.placetotal}}</td>
                        <td>{{sessionToCome.PlaceReserve}}</td>
                        
                        {% if sessionToCome.PlaceRestant != 0 %}
                        <td>{{sessionToCome.PlaceRestant}}</td>
                        {% else %}
                        <td>{{sessionToCome.Plein|raw}}</td>
                        {% endif %}

                        <td><a href="{{path('show_instituleSession', {'id': sessionToCome.id})}}"><i class="fa-solid fa-list"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    {# la session qui est passe #}
    <section class="passer">
        <table class="table">
            <h3>Session Passé</h3>
            <thead>
                <tr>
                    <th>Institulé Session</th>
                    <th>Formateur</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>Nb place théorique</th>
                    <th>Nb place Reservé</th>
                    <th>Nb place Restantes</th>
                    <th>Détails Programme</th>
                </tr>
            </thead>
            <tbody>
                {% for sessionPassed in sessionPasseds %}
                    <tr>
                        <td>{{sessionPassed.themesession}}</td>
                        <td>{{sessionPassed.formateur.nom}}  {{sessionPassed.formateur.prenom}}</td>
                        <td>{{sessionPassed.datecommerce|date('d/m/Y')}}</td>
                        <td>{{sessionPassed.datefin|date('d/m/Y')}}</td>
                        <td>{{sessionPassed.placetotal}}</td>
                        <td>{{sessionPassed.PlaceReserve}}</td>
                        
                        {% if sessionPassed.PlaceRestant != 0 %}
                        <td>{{sessionPassed.PlaceRestant}}</td>
                        {% else %}
                        <td>{{sessionPassed.Plein|raw}}</td>
                        {% endif %}
                        
                        <td><a href="{{path('show_instituleSession', {'id': sessionPassed.id})}}"><i class="fa-solid fa-list"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
