{% extends 'base.html.twig' %}

{% block title %}Register | Elan Formation {% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="register_container">

        <h1 class="register_title">Register</h1>

        <div class="card">
            {{ form_start(registrationForm) }}


                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="text_align">
            <h5>Vous avez déjà un compte, cliqué <a class="btn" href="{{path('app_login')}}">ici</a></h5>
        </div>
    </div>
{% endblock %}
