{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block fsnav %} {% endblock %}
{% block body %}
    <div class="input_container">
        <div style="display: flex; justify-content: end;  width: 50% !important;">
            <a href="{{path ('module')}}" style="color: red; padding-bottom: 5px;">return to liste module...</a>
        </div>
        <div class="border">
            {{ form_start(form) }}
            <div class="form">
                <h3 class="edit_text">Le Module</h3>
                <div class="form_control">
                    {{ form_label(form.nommodule, 'Nom de module') }}
                    {{ form_row(form.nommodule) }}
                </div>
        
                <div class="form_control">
                    {{ form_label(form.categorie, 'La Categorie') }}
                    {{ form_row(form.categorie) }}
                </div>
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
