{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    <div class="input_container">
        <div style="display: flex; justify-content: end;  width: 50% !important;">
            <a href="{{path ('categorie')}}" style="color: red; padding-bottom: 5px;">return to liste categorie...</a>
        </div>
        <div class="border">
            {{ form_start(form) }}
            <div class="form">
                {% if edit %}
                <h3 class="edit_text">Edit le Categorie</h3>
                    {% else %}
                    <h3 class="edit_text">Ajouter le Categorie</h3>
                {% endif %}
                
                <div class="form_control">
                    {{ form_label(form.nomcategorie, 'Nom de categorie') }}
                    {{ form_row(form.nomcategorie) }}
                </div>
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
